@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Welcome Section Styles*/
.welcome {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 330px;
  margin-left: 40px;
}

.welcome-text {
  margin-top: 65px;
  margin-left: 40px;
  text-align: center;
  color: white;
}

.welcome-text h1 {
  font-size: 55px;
}

.welcome-text p {
  margin-top: 15px;
}

.delani {
  margin-top: 40px;
}

.mouse-click {
  margin-top: 205px;
  margin-bottom: 20px;
  margin-left: 40px;
}

/*About Us Section Styles*/
.about {
  text-align: center;
  margin-top: 50px;
  margin-left: 40px;
  color: black;
  margin-bottom: 50px;
}

/*Services Section Styles*/
.services {
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.services-text {
  margin-top: 70px;
  margin-left: 50px;
}

/*What We Do Section Styles*/
.what-we-do {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do h3{
  margin-left: 50px;
}

.solutions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 100px;
  margin-top: 30px;
}

/*What We Do:Design Section Styles*/
.design-info {
  display: none;
}

/*What We Do:Development Section Styles*/
.dev-info {
  display: none;
}

/*What We Do:Product Management Section Styles*/
.product-info {
  display: none;
}

/*Portfolio Section Styles*/
.portfolio {
  margin-bottom: 30px;
}

.portfolio h3 {
  text-align: center;
  margin-left: 50px;
}

.col-md-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.col-md-3 img {
  margin-left: 25px;
  width: 300px;
}

/*Portfolio: Project 1 Styles*/
.project-1{
  position: relative;
  text-align: center;
}

.project-1:hover img{
  opacity: 0.6;
  transition: .5s ease;
}

.btn-1 {
  position: absolute;
  background-color: rgb(42, 42, 42);
  color: rgb(246, 209, 160);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-radius: 10px;
  display: none;
}

/*Portfolio: Project 2 Styles*/
.project-2{
  position: relative;
  text-align: center;
}

.project-2:hover img{
  opacity: 0.3;
  transition: .5s ease;
}

.btn-2 {
  position: absolute;
  background-color: rgb(42, 42, 42);
  color: rgb(246, 209, 160);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-radius: 10px;
  display: none;
}

/*Portfolio: Project 3 Styles*/
.project-3{
  position: relative;
  text-align: center;
}

.project-3:hover img{
  opacity: 0.3;
  transition: .5s ease;
}

.btn-3 {
  position: absolute;
  background-color: rgb(42, 42, 42);
  color: rgb(246, 209, 160);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-radius: 10px;
  display: none;
}

/*Portfolio: Project 4 Styles*/
.project-4{
  position: relative;
  text-align: center;
}

.project-4:hover img{
  opacity: 0.3;
  transition: .5s ease;
}

.btn-4 {
  position: absolute;
  background-color: rgb(42, 42, 42);
  color: rgb(246, 209, 160);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-radius: 10px;
  display: none;
}

/*Portfolio: Project 5 Styles*/
.project-5{
  position: relative;
  text-align: center;
}

.project-5:hover img{
  opacity: 0.3;
  transition: .5s ease;
}

.btn-5 {
  position: absolute;
  background-color: rgb(42, 42, 42);
  color: rgb(246, 209, 160);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-radius: 10px;
  display: none;
}

/*Portfolio: Project 6 Styles*/
.project-6{
  position: relative;
  text-align: center;
}

.project-6:hover img{
  opacity: 0.3;
  transition: .5s ease;
}

.btn-6 {
  position: absolute;
  background-color: rgb(42, 42, 42);
  color: rgb(246, 209, 160);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-radius: 10px;
  display: none;
}

/*Portfolio: Project 7 Styles*/
.project-7{
  position: relative;
  text-align: center;
}

.project-7:hover img{
  opacity: 0.3;
  transition: .5s ease;
}

.btn-7 {
  position: absolute;
  background-color: rgb(42, 42, 42);
  color: rgb(246, 209, 160);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-radius: 10px;
  display: none;
}

/*Portfolio: Project 8 Styles*/
.project-8{
  position: relative;
  text-align: center;
}

.project-8:hover img{
  opacity: 0.3;
  transition: .5s ease;
}

.btn-8 {
  position: absolute;
  background-color: rgb(42, 42, 42);
  color: rgb(246, 209, 160);
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-radius: 10px;
  display: none;
}

/* .project-title-2 {
  position: absolute;
  font-size: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  font-family: 'Lobster', cursive;
  opacity: 1;
  display: none;
  background-color:rgb(209, 194, 164);
  border-radius: 15px;
} */

/*Contact Us Section Styles*/
.contact {
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 600px;
  margin-bottom: 50px;
}

.contact h3 {
  text-align: center;
  margin-left: 50px;
  margin-top: 60px;
}

form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: transparent;
  margin-left: 40px;
  color: white;
  text-indent: 10px;
  width: 500px;
  height: 30px;
  border: 1px solid white;
}

::placeholder {
  color: white;
  opacity: 0.8;
}

textarea {
  background-color: transparent;
  border: 1px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: white;
  text-indent: 10px;
}

.btn {
  background-color: rgb(54, 39, 10);
  color: white;
  font-size: 18px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  border: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  color: black;
  background-color: bisque;
}

/*Social Media Links Section Styles*/
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.social img {
  margin-left: 20px;
}

/*Footer Section Styles*/
.footer {
  margin-top: 30px;
  text-align: center;
  line-height: 0.6;
  margin-bottom: 20px;
}